<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layout/public"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Boot</title>
    <link rel="stylesheet" media="screen" th:href="@{/stylesheets/bootstrap.css}" href="/stylesheets/bootstrap.css"/>
    <link rel="stylesheet" media="screen" th:href="@{/stylesheets/bootstrap.min.css}" href="/stylesheets/bootstrap.min.css"/>
    <script src="/javascripts/bootstrap.js" th:src="@{/javascripts/bootstrap.js}" type="text/javascript"></script>
    <script src="/javascripts/bootstrap.min.js" th:src="@{/javascripts/bootstrap.min.js}" type="text/javascript"></script>
    <script src="/javascripts/jquery-1.9.0.min.js" th:src="@{/javascripts/jquery-1.9.0.min.js}" type="text/javascript"></script>
    <script src="/javascripts/password-check.js" th:src="@{/javascripts/password-check.js}" type="text/javascript"></script>
</head>
<body>
    <div id="page-wrapper" layout:fragment="content">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Registration</h3>
            </div>
            <div class="panel-body">
                <form th:action="@{/registration}" th:object="${userBlogForm}" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">

                    <div th:if="${#fields.hasGlobalErrors()}"
                         class="has-error col-lg-offset-3 alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <label class="control-label" th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</label>
                    </div>

                    <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
                        <label class="control-label col-sm-2" for="full_name">Full Name:</label>
                        <div class="col-sm-4">
                            <input type="text" required="true" class="form-control" id="full_name" th:field="*{name}" placeholder="Full name"/>
                            <label class="control-label" th:errors="*{name}">[error]</label>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="picture">Profile Picture:</label>
                        <div class="col-sm-4">
                            <input type="file" required="true" class="form-control" id="picture" name="picture" accept="image/*"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="picture">Picture preview:</label>
                        <div class="col-sm-4">
                            <img id="image_upload_preview" class="img-rounded" alt="My Picture" width="304" height="236"/>
                        </div>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error'">
                        <label class="control-label col-sm-2" for="email">Email address:</label>
                        <div class="col-sm-4">
                            <input type="email" required="true" class="form-control" id="email" th:field="*{email}" placeholder="Email"/>
                            <label class="control-label" th:errors="*{email}">[error]</label>
                        </div>

                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('website')} ? 'has-error'">
                        <label class="control-label col-sm-2" for="website">Website:</label>
                        <div class="col-sm-4">
                            <input type="text" required="true" class="form-control" id="website" th:field="*{website}" placeholder="Website"/>
                            <label class="control-label" th:errors="*{website}">[error]</label>
                        </div>

                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
                        <label class="control-label col-sm-2" for="pwd1">Password:</label>
                        <div class="col-sm-4">
                            <input type="password" required="true" class="form-control" id="pwd1" th:field="*{password}" placeholder="Password" onchange="checkPassword(); return false;" onkeyup="checkPassword(); return false;"/>
                            <label class="control-label" th:errors="*{password}">[error]</label>
                        </div>
                        <span id="passwordLengthMessage"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd2">Confirm Password:</label>
                        <div class="col-sm-4">
                            <input type="password" required="true" class="form-control" id="pwd2" th:field="*{passwordRepeated}" placeholder="Type your password again" onchange="checkPassord(); return false;" onkeyup="checkPassword(); return false;"/>
                        </div>
                        <span id="confirmMessage"></span>
                    </div>
                    <button type="submit" class="btn btn-primary" id="sm_button" disabled="true">Submit</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>